flows.json
[{"id":"15152244.f6f86e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ed6cdfa1.4ee6d","type":"inject","z":"15152244.f6f86e","name":"","topic":"Email Interval","payload":"","payloadType":"date","repeat":"","crontab":"*/1 0-22 * * *","once":false,"onceDelay":0.1,"x":210,"y":340,"wires":[["47b27619.7e2a08"]]},{"id":"ae1b77ca.36d118","type":"e-mail","z":"15152244.f6f86e","server":"","port":"0","secure":false,"tls":true,"name":"","dname":"To: Emails","x":1950,"y":580,"wires":[]},{"id":"9680b023.2fb8f","type":"function","z":"15152244.f6f86e","name":"High Temperature Notification","func":"//Gets the current date\nvar today = new Date();\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\ntoday = mm + '/' + dd + '/' + yyyy;\n\n//Gets the current time in hour, minute, and second\nvar t = new Date();\nvar hours = t.getHours();\nhours = ('0'  + hours).slice(-2);\nvar minutes = t.getMinutes();\nminutes = minutes > 9 ? minutes : '0' + minutes;\nvar seconds = t.getSeconds();\nseconds = seconds > 9 ? seconds : '0' + seconds;\nvar time = hours + \":\" + minutes + \":\" + seconds;\n\nfunction moveDecimal(n) {\n  var l = n.toString().length-2;\n  var v = n/Math.pow(10, l);\n  return v;\n}\n\n//Subject and Message of email\nif (msg.payload[0].value > 8060) {\n    msg.topic = \"Alert Detected In ECS Lab\";\n    msg.payload = \"Alert Detected At: \" + today + \" \" + time + \"\\n\\n\" + \n    \"'Incoming' temperature sensor has exceeded the defined threshold.\\n\" + \n    \"The current temperature: \" + moveDecimal(msg.payload[0].value) + \"°F. The current threshold: (\" + moveDecimal(msg.payload[0].value) + \"°F/80.60°F).\\n\\n\" + \n    \"Powering down all servers.\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1450,"y":340,"wires":[["3c0043cc.76518c","ae1b77ca.36d118","ad862b4d.5e5258"]]},{"id":"770b07e0.d36388","type":"comment","z":"15152244.f6f86e","name":"","info":"Separate emails by commas (i.e. email1@domain.com, email2@domain.com)","x":1960,"y":520,"wires":[]},{"id":"47b27619.7e2a08","type":"snmp subtree","z":"15152244.f6f86e","host":"172.x.x.x","community":"private","version":"1","oids":"1.3.6.1.4.1.20916.1.9.1.1.1.2","timeout":"65","name":"","x":820,"y":340,"wires":[["9680b023.2fb8f","cf8f3d10.0c041"]]},{"id":"ad862b4d.5e5258","type":"exec","z":"15152244.f6f86e","command":"/tools/bin/bmc-soft-power-off-multi 1 105 smc","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"","x":2050,"y":340,"wires":[["6e6af795.55ed98"],[],[]]},{"id":"3c0043cc.76518c","type":"debug","z":"15152244.f6f86e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1730,"y":200,"wires":[]},{"id":"cf8f3d10.0c041","type":"debug","z":"15152244.f6f86e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":200,"wires":[]},{"id":"6e6af795.55ed98","type":"debug","z":"15152244.f6f86e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2370,"y":200,"wires":[]},{"id":"a98fff03.44324","type":"comment","z":"15152244.f6f86e","name":"","info":"Works! Removing line because of testing interference","x":2040,"y":240,"wires":[]}]